<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- namespace must be set up according to launch file namespace -->
	<!-- port is the port number for the FRI UDP connection (be aware that port+1 is also used) --> 
	<xacro:macro name="lwr_arm_gazebo_controller" params="namespace port prefix gravity_dir:=^|'0 0 -9.81'
		                                                    payload_mass:=^|0.0 payload_cog:=^|'0 0 0'"> 
		<xacro:property name="prefix_"  value="${prefix + '_' if prefix else ''}" />
		<gazebo> 
			<plugin name="${prefix_}lwr_arm_controller" filename="liblwr_controller.so">
				<alwaysOn>true</alwaysOn>
				<robotPrefix>${prefix}</robotPrefix>
				<robotNamespace>${namespace}</robotNamespace>
				<remotePort>${port}</remotePort>
				<baseLink>${prefix_}arm_base_link</baseLink>
				<!-- p<toolLink>${prefix_}tool_mount</toolLink>-->
				<xacro:if value="${gravity_dir not in ['','-']}" >
					<gravityDirection>${gravity_dir}</gravityDirection>
				</xacro:if>
				<xacro:if value="${payload_mass not in ['','-']}" >
					<payloadMass>${payload_mass}</payloadMass>
				</xacro:if>
				<xacro:if value="${payload_cog not in ['','-']}" >
					<payloadCOG>${payload_cog}</payloadCOG>
				</xacro:if>
				<xacro:element xacro:name="${prefix_}arm_0_joint">0</xacro:element>
				<xacro:element xacro:name="${prefix_}arm_1_joint">0</xacro:element>
				<xacro:element xacro:name="${prefix_}arm_2_joint">0</xacro:element>
				<xacro:element xacro:name="${prefix_}arm_3_joint">0</xacro:element>
				<xacro:element xacro:name="${prefix_}arm_4_joint">0</xacro:element>
				<xacro:element xacro:name="${prefix_}arm_5_joint">0</xacro:element>
				<xacro:element xacro:name="${prefix_}arm_6_joint">0</xacro:element>
			</plugin>
		</gazebo>  
	</xacro:macro>
</robot>
